<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.ewubd.cse2020160119">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="cse2020160119"
        android:usesCleartextTraffic="true"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.9th_semester_2020_1_60_119_imran"
        tools:targetApi="31">


        <activity android:name=".event_information_lab3"
            android:exported="true"/>

        <activity android:name=".UpomingEventActivity"
            android:exported="true"/>

        <activity android:name=".Home"
            android:exported="true"/>

        <activity android:name=".Event_details"
            android:exported="true"/>





        <activity android:name=".SIGNUP"
    android:exported="true"
       tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>